edit/personal.cfg

[comments]
descr=Редактирование общих данных сотрудника
input=
output=
parents=tab_samples.cfg
childs=
testURL=?c=edit/personal
author=Семашко
[end]

[description]
Редактирование общих данных сотрудника
[end]


[parameters]
service=dubna.walt.service.Service
[end]


[report]
$GET_DATA [getRecord] ??!cop&tab_n 

$IF cop=save
    $GET_DATA [updateRecord]  
    <script>
        HideDialog(); doSubmit(); 
        alert('#ERROR#'); ??ERROR
        centerDialog();
       
    </script>
    $BREAK
$EIF
$JS{
    try{
        var fl_json=JSON.parse(prm('fl_src_json'));
        var nagr=fl_json['Награды'];
        var obr=fl_json['Образование'];
        var pers = fl_json['ПерсональныеДанные'][0];
        _$LOG(2,'pers=  '+JSON.stringify(pers)+'<br>');

        var gragd= pers['ГражданствоНаименование'];
        setPrm('grazhdan',gragd);
        var nagrs=''
          for (i in nagr){
             var n =nagr[i];
             var dp = n['ДатаПриказа'].substr(0,10);
             
             nagrs += n['ЧейПриказ']+'. '+n['НаградаНаименование']+' от:'+dp+'<br>';
             _$LOG(2,i+' =  '+JSON.stringify(n)+'<br>');
          }
          _$LOG(2,'Награды: =  '+nagrs+'<br>');
          var obrs = '';
          for (i in obr){
             var o =obr[i];
               obrs+=o['ГодОкончания']+'г. '+' '+o['УчебноеЗаведениеНаименование']+'. '+o['ВидОбразованияНаименование']+'<br>';
             _$LOG(2,i+' =  '+JSON.stringify(n)+'<br>');
          }
          _$LOG(2,'Образование: =  '+obrs+'<br>');
          setPrm('graduate',obrs);
          setPrm('awards',nagrs);

    } catch (e) {
        _$LOG(2,'fl_src_json error: '+JSON.stringify(e));
        _$LOG(2,'fl_src_json: '+ prm('fl_src_json'));
    }
    
    
$JS}
$GET_DATA [get dropdowns]

<form  id="popupForm" name="popupForm" method="post" style="padding:5">
<input type=hidden name="c" value="#c#">
<input type=hidden name="cop" value="">
<input type=hidden name="tab_n" value="#tab_n#">
<table  border=0 cellpadding=5 ">

<tr><td class="label nowrap" nowrap>Табельный №:</td><td >#tab_n#</td></tr>
<tr><td class="label nowrap" nowrap>ФИО:</td><td>#FIO#"
<tr><td class="label nowrap" nowrap>Отдел:</td><td>#subtopparent_name#</td></tr>
<tr><td class="label nowrap" nowrap>Код подразделения:</td><td>#div_code#</tr>
<tr><td class="label nowrap" nowrap>Подразделение: </td><td>#division#</td></tr>
<tr><td class="label nowrap" nowrap>Должность:</td><td colspan="3">#post#</td></tr>
<tr><td class="label nowrap" nowrap>Степень:</td><td>#stepen#</td></tr>
<tr><td class="label nowrap" nowrap>Образованмие:</td><td>#graduate#</td></tr>
<tr><td class="label nowrap" nowrap>Награды:</td><td>#awards#</td></tr>
<tr><td class="label nowrap" nowrap>Дата рождения:</td><td>#birthday#</td></tr>
<tr><td class="label nowrap" nowrap>Гражданство:</td><td>#grazhdan#</td></tr>
<tr><td class="label nowrap" nowrap>Категория:</td><td>#category#</td></tr>
<tr><td class="label nowrap" nowrap>Начало работы:</td><td>#nachalo_rab#" </td></tr>
<tr><td class="label nowrap" nowrap>Окончание работы:</td><td>#okonch_rab#</td></tr>
<tr><td class="label nowrap" nowrap>Условия работы:</td><td colspan="3">#usl_rab#</td></tr>
<tr><td class="label nowrap" nowrap>История контракта:</td><td>#history_contract#</td></tr>
<tr><td class="label nowrap" nowrap>Штат дирекции:</td><td>#shtat_direct#</td></tr>
<tr><td class="label nowrap" nowrap>Договор:</td><td><select name="contract" class=norm>#CONTRACT#</td></tr>

$IF reason
$SET_PARAMETERS reason_txt=командировке: ??reason=100
$SET_PARAMETERS reason_txt=отпуске: ??reason=1
<tr>
<td class="label nowrap" style='border-top:1px black solid' >
    Отпуск  ??reason=1
    Командировка  ??reason=100
    Причины отсутствия ??reason&!reason=1&!reason=100
</td>
<td class="nowrap" style='border-top:1px black solid' colspan=0>
#cur_absence#</td></tr>
$EIF
<tr>

<td style='border-top:1px black solid' class="label nowrap">Командировки за год
</td>
<td style='border-top:1px black solid'>
<div id=year_missiona  style=''display:none1'>
#missions#

</td>
</tr>
<tr>

<td style='border-top:1px black solid' class="label nowrap">Отпуска за год
</td>
<td style='border-top:1px black solid'>
<div id=year_missiona  style=''display:none1'>
#vacations#

</td>
</tr>

</table>
<br>
<center>
<input type="button" value="Отмена" onClick="HideDialog();">
<input type="button" value="Сохранить" 
onClick="document.popupForm.cop.value=
'save';  ??tab_n
'add';  ??!person_id
AjaxCall('popupCont','', true, 'popupForm'); ">
</center>
</form>
<br/>
<script>
HideDialog(); doSubmit(); ??cop=save&!ERROR
alert('#ERROR#'); ??ERROR
centerDialog();

</script>
[end]

[getRecord]
select sotr.person_id,FIO, stepen, div_code, division, post, usl_truda
,reason, st_date, fin_date, comment
, usl_rab, posts, date_format(sotr.dr, '%d.%m.%Y') birthday, category
, grazhdan, date_format(sotr.nachalo_rab, '%d.%m.%Y') nachalo_rab
, date_format(sotr.okonch_rab, '%d.%m.%Y') okonch_rab, sovmeshenie
, history_contract, otdel, shtat_direct, shtat_dir, contract, topparent_code, subtopparent_code
, datauvolen, uvolen_text
from sotrudniki sotr
left join absence abs on sotr.tab_n=abs.tab_n and now() between abs.st_date and abs.fin_date
where sotr.tab_n=#tab_n#; 
select short_name as topparent_name from struktura where id =  #topparent_code# ;
select short_name  as subtopparent_name from struktura where id =  #subtopparent_code#;
select concat(case when  reason=1 then 'Отпуск:'  else 'Командировка' end ,  ' C ',st_date, ' по ', fin_date,' ', replace(replace(comment,'Основание:',''),'назначение',''), '<br>') as cur_absence from   absence where tab_n=#tab_n# and now() between st_date and fin_date order by st_date,fin_date ; ??
select concat('C ',st_date, ' по ', fin_date,' ', replace(replace(comment,'Основание:',''),'Назначения',''), '<br>') as missions from   absence where tab_n=#tab_n# and  TIMESTAMPDIFF(YEAR,fin_date, CURRENT_DATE ) <1 and reason=100  order by st_date,fin_date ;
select concat('C ',st_date, ' по ', fin_date,' ', replace(replace(comment,'Основание:',''),'Назначения',''), '<br>') as vacations from   absence where tab_n=#tab_n# and  TIMESTAMPDIFF(YEAR,fin_date, CURRENT_DATE ) <1 and reason=1  order by st_date,fin_date ;
select object as fl_src_json from i_fizlitsa where id=#person_id#;
[end]


[updateRecord]
update sotrudniki 
set contract='#contract#'
where tab_n=#tab_n# 
[end]


[get dropdowns]
select  concat('<option value="', contract_name, '" ' 
, case when contract_name='#contract#' then 'selected' else '' end 
, '>' , contract_name, '</option>')as CONTRACT
from contract
;
[end]



